{% extends 'admin_template/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block custom_css %}
  <style>
      .invalid{
        font-style: italic;
        font-weight: bold;
        color: red;
      }
      .valid{
        font-style: italic;
        font-weight: bold;
        color: green;
      }
  </style>
{% endblock custom_css %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <form method="post" action="/add_course" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="row justify-content-md-center form-column">
                            
                            <div class="col col-md-9 col-12 form-add-course">
                                <div class="form-row form-add-course">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Employee ID:  </label>
                                        <input type="number" name="employeeid" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-9 col-12 form-add-course">
                                <div class="form-row form-add-course">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Name:  </label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col col-md-9 col-12">
                                <div class="form-row form-add-course">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Email:  </label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-md-9 col-12">
                                <div class="form-row form-add-course">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Phone:  </label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-md-9 col-12">
                                <div class="form-row form-add-course">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Department:  </label>
                                        <select name="department_name" name="department_name">
                                            <option value="computerscience">Computer Science</option>
                                            <option value="informatics">Informatics</option>
                                            <option value="datascience">Data Science</option>
                                            <option value="dataanalytics">Data Analytics</option>
                                            <option value="informationsystem">Information System</option>
                                            <option value="quantitativefinance">Quantitative Finance</option>
                                            <option value="softwereengineering">Softwere Engineering</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                
                            
                            <br>
                            {% csrf_token %}
                            <div class="d-flex justify-content-around pt-2">
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}