{% extends 'admin_template/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <div class="card-body">
                            
                            <div class="col col-md-9 col-12 form-edit-advisor">
                                <div class="form-row form-edit-advisor">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Employee ID:  </label>
                                        <input type="number" name="employee_id" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col col-md-9 col-12 form-edit-advisor">
                                <div class="form-row form-edit-advisor">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Name:  </label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col col-md-9 col-12">
                                <div class="form-row form-edit-advisor">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Email:  </label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-md-9 col-12">
                                <div class="form-row form-edit-advisor">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Phone:  </label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-md-9 col-12">
                                <div class="form-row form-edit-advisor">
                                    <div class="col-3 mb-3">
                                        <label class="form-label">Department ID:  </label>
                                        <select name="department" class="form-select">
                                            <option selected>Choose the department ID</option>
                                            <option value="1">1 Computer Science</option>
                                            <option value="2">2 Informatics</option>
                                            <option value="3">3 Data Science</option>
                                            <option value="4">4 Data Analytics</option>
                                            <option value="5">5 Information System</option>
                                            <option value="6">6 Quantitative Finance</option>
                                            <option value="7">7 Softwere Engineering</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                
                            
                            
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary mt-2">Update</button>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}