{% extends 'admin_template/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Department</th>
                                    <!-- <th>Edit</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for advisor in advisors %}
                                <tr>
                                    <td>{{ advisor.employee_id }}</td>
                                    <td>{{ advisor.name }}</td>
                                    <td>{{ advisor.email }}</td>
                                    <td>{{ advisor.phone }}</td>
                                    <td>{{ advisor.department.department_name }}</td>
                                    
                                    <td>
                                        <a href="{% url 'edit_advisor' advisor.employee_id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete_advisor' advisor.employee_id %}" class="btn btn-danger">Delete</a>
                                    
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}