{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<style>
    .navbar-nav {
        border: 1px solid grey;
        border-radius: 7px;
    }

    .nav-link {
        color: black;
    }

    .navbar-nav .active {
        background-color: #0275d8;
        border-radius: 7px;
        color: white;
    }


</style>
</head>
<body>
    <!-- Sidebar -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <ul class="nav navbar-nav">

                <li>
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <p>
                            Home
                        </p>
                    </a>
                    </li>
<li>              
                    {% url 'add_advisor' as add_advisor %}
                    <a href="{{add_advisor}}" class="nav-link {% if add_advisor == request.path %} active {% endif %}">
                        <p>
                            Add Advisor
                        </p>
                    </a>
                </li>  
                <li>
                    {% url 'manage_advisor' as manage_advisor %}
                    {% url 'edit_advisor' employee_id as edit_advisor %}
                    <a href="{{manage_advisor}}"
                        class="nav-link {% if manage_advisor == request.path or request.path == edit_advisor %} active {% endif %}">
                        <p>
                            Manage Advisor
                        </p>
                    </a>
                </li>
            <li>
                    {% url 'add_student' as add_student%}
                    <a href="{{add_student}}" class="nav-link  {% if add_student == request.path %} active {% endif %}">
                        
                        <p>
                            Add Student
                        </p>
                    </a>
                </li>
            <li>
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' nuid as edit_student %}

                    <a href="{{manage_student}}"
                        class="nav-link  {% if edit_student == request.path or manage_student == request.path %} active {% endif %}">
                        
                        <p>
                            Manage Student
                        </p>
                    </a>
                </li>
            <li>
                    {% url 'add_course' as add_course %}
                    <a href="{{add_course}}" class="nav-link  {% if add_course == request.path %} active {% endif %}">
                        
                        <p>
                            Add Course
                        </p>
                    </a>
                </li>
            <li>
                    {% url 'manage_course' as manage_course %}
                    {% url 'edit_course' course_id as edit_course %}
                    <a href="{{manage_course}}"
                        class="nav-link  {% if edit_course == request.path or manage_course == request.path %} active {% endif %}">
                        <p>
                            Manage Course
                        </p>
                    </a>
                </li>
                </ul>

                </div>
            </nav>
            </body>
            </html>       